In [1]:
import pandas as pd

data = {
    'Tid': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Refund': ['Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No'],
    'Marital Status': ['Single', 'Married', 'Single', 'Married', 'Divorced', 'Married', 'Divorced', 'Single', 'Married', 'Single'],
    'Taxable Income': ['125K', '100K', '70K', '120K', '95K', '60K', '220K', '85K', '75K', '90K'],
    'Cheat': ['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes']
}

df = pd.DataFrame(data)
print("Full DataFrame:")
print(df)

Full DataFrame:
   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

In [2]:
print("\nSelected Rows (0, 4, 7, 8):")
print(df.loc[[0, 4, 7, 8]])

Selected Rows (0, 4, 7, 8):
   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
4    5     No       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No

In [3]:
csv_file = "file.csv"
try:
    csv_df = pd.read_csv(csv_file)
    print("\nCSV File Data:")
    print(csv_df)
except FileNotFoundError:
    print("\nCSV file not found. Please check the path.")

CSV file not found. Please check the path.

In [8]:
import pandas as pd


nominal = ["Alice", "Bob", "Charlie", "Diana"]
binary = ["Male", "Female", "Male", "Female"]
ordinal = ["Low", "Medium", "High", "Medium"]
numeric_continuous = [5.7, 6.1, 5.9, 6.0]
numeric_discrete = [1, 2, 3, 4]

df_attributes = pd.DataFrame({
    "Nominal": nominal,
    "Binary": binary,
    "Ordinal": ordinal,
    "Continuous": numeric_continuous,
    "Discrete": numeric_discrete
})

print(" Attribute Types DataFrame:")
print(df_attributes)

 Attribute Types DataFrame:
   Nominal  Binary Ordinal  Continuous  Discrete
0    Alice    Male     Low         5.7         1
1      Bob  Female  Medium         6.1         2
2  Charlie    Male    High         5.9         3
3    Diana  Female  Medium         6.0         4

In [9]:
data = {
    'Tid': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Refund': ['Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No'],
    'Marital Status': ['Single', 'Married', 'Single', 'Married', 'Divorced', 'Married', 'Divorced', 'Single', 'Married', 'Single'],
    'Taxable Income': ['125K', '100K', '70K', '120K', '95K', '60K', '220K', '85K', '75K', '90K'],
    'Cheat': ['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes']
}
df = pd.DataFrame(data)

print("\nQ5 - Select row from index 3 to 7:")
print(df.iloc[3:8])

print("\nQ5 - Select row from index 4 to 8, column 2 to 4:")
print(df.iloc[4:9, 2:5])

print("\nQ5 - All rows, column index 1 to 3:")
print(df.iloc[:, 1:4])

Q5 - Select row from index 3 to 7:
   Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes

Q5 - Select row from index 4 to 8, column 2 to 4:
  Marital Status Taxable Income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6       Divorced           220K    No
7         Single            85K   Yes
8        Married            75K    No

Q5 - All rows, column index 1 to 3:
  Refund Marital Status Taxable Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

In [12]:
from google.colab import files
uploaded = files.upload()  # This will open a file picker

Saving Iris.csv to Iris.csv

In [15]:
import pandas as pd

# Read the uploaded Iris.csv file
iris_df = pd.read_csv("Iris.csv")

# Display first 5 rows
print("First 5 rows of Iris dataset:")
print(iris_df.head())

First 5 rows of Iris dataset:
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [17]:
print("First five rows:")
print(iris_df.head())

First five rows:
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [18]:
iris_modified = iris_df.drop(index=4)  # delete row with index 4
iris_modified = iris_modified.drop(iris_df.columns[3], axis=1)  # delete column at index 3
print("\nQ7 - After deleting row 4 and column 3:")
print(iris_modified)

Q7 - After deleting row 4 and column 3:
      Id  SepalLengthCm  SepalWidthCm  PetalWidthCm         Species
0      1            5.1           3.5           0.2     Iris-setosa
1      2            4.9           3.0           0.2     Iris-setosa
2      3            4.7           3.2           0.2     Iris-setosa
3      4            4.6           3.1           0.2     Iris-setosa
5      6            5.4           3.9           0.4     Iris-setosa
..   ...            ...           ...           ...             ...
145  146            6.7           3.0           2.3  Iris-virginica
146  147            6.3           2.5           1.9  Iris-virginica
147  148            6.5           3.0           2.0  Iris-virginica
148  149            6.2           3.4           2.3  Iris-virginica
149  150            5.9           3.0           1.8  Iris-virginica

[149 rows x 5 columns]

In [19]:
import pandas as pd

# Q8 - Create the employees dataset
data = {
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Edward"],
    "Department": ["HR", "IT", "IT", "Marketing", "Sales"],
    "Age": [29, 34, 41, 28, 38],
    "Salary": [50000, 70000, 65000, 55000, 60000],
    "Years_of_Experience": [4, 8, 10, 3, 12],
    "Joining_Date": ["2020-03-15", "2017-07-19", "2013-06-01", "2021-02-10", "2010-11-25"],
    "Gender": ["Female", "Male", "Male", "Female", "Male"],
    "Bonus": [5000, 7000, 6000, 4500, 5000],
    "Rating": [4.5, 4.0, 3.8, 4.7, 3.5]
}

df_emp = pd.DataFrame(data)

# a) Shape of the DataFrame
print("Shape of DataFrame:", df_emp.shape)

# b) Summary of DataFrame (data types & non-null counts)
print("\nSummary info:")
print(df_emp.info())

# c) Descriptive statistics
print("\nDescriptive statistics:")
print(df_emp.describe())

# d) First 5 rows and last 3 rows
print("\nFirst 5 rows:")
print(df_emp.head())
print("\nLast 3 rows:")
print(df_emp.tail(3))

# e) Statistics
avg_salary = df_emp["Salary"].mean()
total_bonus = df_emp["Bonus"].sum()
youngest_age = df_emp["Age"].min()
highest_rating = df_emp["Rating"].max()

print("\nAverage Salary:", avg_salary)
print("Total Bonus Paid:", total_bonus)
print("Youngest Age:", youngest_age)
print("Highest Rating:", highest_rating)

# f) Sort by Salary descending
print("\nSorted by Salary (descending):")
print(df_emp.sort_values(by="Salary", ascending=False))

# g) Categorize employees by performance rating
def categorize_rating(r):
    if r >= 4.5:
        return "Excellent"
    elif r >= 4.0:
        return "Good"
    else:
        return "Average"

df_emp["Performance_Category"] = df_emp["Rating"].apply(categorize_rating)
print("\nWith Performance Category:")
print(df_emp)

# h) Identify missing values
print("\nMissing values:")
print(df_emp.isnull().sum())

# i) Rename Employee_ID to ID
df_emp.rename(columns={"Employee_ID": "ID"}, inplace=True)

# j) Filter employees
more_than_5_exp = df_emp[df_emp["Years_of_Experience"] > 5]
it_department = df_emp[df_emp["Department"] == "IT"]

print("\nEmployees with >5 years experience:")
print(more_than_5_exp)
print("\nEmployees in IT Department:")
print(it_department)

# k) Add new column Tax = 10% of Salary
df_emp["Tax"] = df_emp["Salary"] * 0.10
print("\nWith Tax column:")
print(df_emp)

# l) Save to CSV
df_emp.to_csv("employees_modified.csv", index=False)
print("\nModified DataFrame saved to employees_modified.csv")

Shape of DataFrame: (5, 10)

Summary info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
None

Descriptive statistics:
       Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

First 5 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Last 3 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Average Salary: 60000.0
Total Bonus Paid: 27500
Youngest Age: 28
Highest Rating: 4.7

Sorted by Salary (descending):
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

With Performance Category:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating Performance_Category
0   2020-03-15  Female   5000     4.5            Excellent
1   2017-07-19    Male   7000     4.0                 Good
2   2013-06-01    Male   6000     3.8              Average
3   2021-02-10  Female   4500     4.7            Excellent
4   2010-11-25    Male   5000     3.5              Average

Missing values:
Employee_ID             0
Name                    0
Department              0
Age                     0
Salary                  0
Years_of_Experience     0
Joining_Date            0
Gender                  0
Bonus                   0
Rating                  0
Performance_Category    0
dtype: int64

Employees with >5 years experience:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender  Bonus  Rating Performance_Category
1   Male   7000     4.0                 Good
2   Male   6000     3.8              Average
4   Male   5000     3.5              Average

Employees in IT Department:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performance_Category
1   Male   7000     4.0                 Good
2   Male   6000     3.8              Average

With Tax column:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance_Category     Tax
0  Female   5000     4.5            Excellent  5000.0
1    Male   7000     4.0                 Good  7000.0
2    Male   6000     3.8              Average  6500.0
3  Female   4500     4.7            Excellent  5500.0
4    Male   5000     3.5              Average  6000.0

Modified DataFrame saved to employees_modified.csv